# .env.example
# This file is a template for environment variables needed to run the application.
# Copy this file to create .env.development.local, .env.production.local, etc., 
# and customize each file based on the environment.

# VITE_PORT specifies the port on which the Vite development server will run.
# You can set this to any available port number for your local or production server.
VITE_PORT=5132

# VITE_API_URL is the base URL for the API that the application will interact with.
# Replace this URL with the appropriate API endpoint for your environment.
VITE_API_URL=http://localhost:8000/api/

# To set up environment-specific files:
# 1. Create a .env.development.local file for development with values specific to your local environment.
# 2. Create a .env.production.local file for production with values suited for your production environment.
# 
# Remember: These files (.env.development.local, .env.production.local) contain sensitive information 
# and should not be committed to version control.
